<h1><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>&nbsp;|&nbsp;Travel Log</h1>
<div class="landing">
<% for post in @posts %>
<div class="card">
  <div class="header">
    <span class="empty-flex-grow"></span>
    <span class="name" id="<%= post[:title] %>"><%= post[:title] %></span>
  </div>
  <div class="date"><span class="fa fa-clock-o"></span>&nbsp;<span><%= post[:date] %></span></div>
  <div class="text">
    <p>
      <%= post[:excerpt] %>
    </p>
  </div>
  <div class="actions">
    <div><a href="<%= post[:url] %>">Read</a></div>
  </div>
</div>
<% end %>
</div>