<% basics = @json_cv['basics'] %>
<header class="basics">
  <div class="main">
    <div>
      <h1 class="name">
        <% if basics['website'] %>
          <a href="<%= basics['website'] %>"><%= basics['name'] %></a>
        <% else %>
          <%= basics['name'] %>
        <% end %>
      </h1>
      <div class="subheader">
        <%= basics['label'] %>
        <%= basics['sublabel'] %>
      </div>
      <% unless basics['citizenships'].nil? && basics['citizenship'].empty? %>
        <div class="chips">
          <% basics['citizenship'].each do |citizenship| %>
            <span class="chip"><%= R18n.t.cv.citizenship(citizenship) %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="picture hide-on-print">
      <img title="<%= basics['name'] %>" src="<%= basics['picture'] %>">
    </div>
  </div>

  <div class="me">

    <% if !basics['profiles'].nil? %>
      <% for profile in basics['profiles'] %>
        <a href="<%= profile['url'] %>"><i class="fa fa-<%= icons[profile['network']] %>"></i><span class="show-on-print"><%= profile['network'] %></span></a>
      <% end %>
    <% end %>

    <% if @show_contact_details %>
      <div class="contact_details">
        <a href="mailto:<%= basics['email'] %>"><i class="fa fa-envelope-o"></i><%= basics['email'] %></a>
        <a href="tel:<%= basics['phone'] %>"><i class="fa fa-phone"></i><%= basics['phone'] %></a>
        <% if basics['altPhone'] %>
          <a href="tel:<%= basics['altPhone'] %>"><i class="fa fa-phone"></i><%= basics['altPhone'] %></a>
        <% end %>
        <% if basics['availability'] %>  
          <a href="<%= basics['availability'] %>"><i class="fa fa-calendar"></i><%= R18n.t.cv.availability %></a>
        <% end %>
      </div>
    <% else %>
      <% if basics['availability'] %>
          <a href="<%= basics['availability'] %>"><i class="fa fa-calendar"></i><span class="show-on-print"><%= R18n.t.cv.availability %></span></a>
        <% end %>
      <a href="/email"><i class="fa fa-envelope-o"></i><span class="show-on-print"><%= basics['email'] %></span></a>
    <% end %>
  </div>
</header>