<% education = @json_cv['education'] %>
<section class="education">
  <header>
    <h2>education</h2>
  </header>
  <div class="education items">
    <% if !education.nil? and !education.empty? %>
      <% for diploma in education %>
        <div class="education item">
          <header>
            <h3>
              <em><%= diploma['studyType'] %> <%= diploma['area'] %></em>,
              <a href="<%= diploma['website'] %>"><%= diploma['institution'] %></a>
            </h3>
            <div class="tenure">
              <div class="dates">
                <span class="end-date"><%= format_date_my(diploma['endDate']) %></span>
              </div>
            </div>
          </header>
          <% if !diploma['gpa'].nil? and !diploma['gpa'].empty? %>
            <div class="gpa"><span>GPA</span><%= diploma['gpa'] %></div>
          <% end %>

          <% if !diploma['courses'].nil? and !diploma['courses'].empty? %>
            <div class="courses">
              <div class="courses-taken">Courses: </div>
              <div class="courses items">
                <% for course in diploma['courses'] %>
                  <span class="courses item"><%= course %></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>