<% projects = @json_cv['projects'] %>

<section class="projects">
  <header>
    <h2><%= R18n.t.cv.headers.projects %></h2>
  </header>
  <div class="projects items">
    <% if !projects.nil? and !projects.empty? %>
      <% for project in projects %>
        <div class="projects item">
          <header>
            <h3>
              <em><%= project['position'] %></em>,
              <a href="<%= project['website'] %>"><%= project['name'] %></a>
            </h3>
            <%= erb :'cv/dates/_tenure', locals: {dates: {start_date: project['startDate'], end_date: project['endDate']}} %>
          </header>
          <% if !project['keywords'].nil? and !project['keywords'].empty? %>
            <div class="keywords">
              <% for keyword in project['keywords'] %>
                <span class="keyword"><%= keyword %></span>
              <% end %>
            </div>
          <% end %>

          <% if !project['summary'].nil? and !project['summary'].empty? %>
            <p class="summary"><%= project['summary'] %></p>
          <% end %>

          <% if !project['highlights'].nil? and !project['highlights'].empty? %>
            <ul class="highlights">
              <% for highlight in project['highlights'] %>
                <li class="highlight"><%= highlight %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>