<% projects = @json_cv['projects'] %>

<section class="projects">
  <header>
    <h2>projects</h2>
  </header>
  <div class="projects items">
    <% if !projects.nil? and !projects.empty? %>
      <% for project in projects %>
        <div class="projects item">
          <header>
            <h3>
              <em><%= project['position'] %></em>,
              <a href="<%= project['website'] %>"><%= project['name'] %></a>
            </h3>
            <div class="tenure">
              <div class="dates">
                <span class="start-date"><%= format_date_my(project['startDate']) %></span>
                <span class="to">→</span>
                <% endDate = project['endDate'].include?('9999') ? 'now' : format_date_my(project['endDate']) %>
                <span class="end-date"><%= endDate %></span>
              </div>
              <div class="duration">
                <% endDate = project['endDate'].include?('9999') ? format_date_ymd(Date.today) : project['endDate'] %>
                <span class="duration">(<%= how_long(project['startDate'], endDate) %>)</span>
              </div>
            </div>
          </header>
          <% if !project['keywords'].nil? and !project['keywords'].empty? %>
            <div class="keywords">
              <% for keyword in project['keywords'] %>
                <span class="keyword"><%= keyword %></span>
              <% end %>
            </div>
          <% end %>

          <% if !project['summary'].nil? and !project['summary'].empty? %>
            <p class="summary"><%= project['summary'] %></p>
          <% end %>

          <% if !project['highlights'].nil? and !project['highlights'].empty? %>
            <ul class="highlights">
              <% for highlight in project['highlights'] %>
                <li class="highlight"><%= highlight %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>