<% publications = @json_cv['publications'] %>

<section class="publications">
  <header>
    <h2>publications</h2>
  </header>
  <div class="publications items">
    <% if !publications.nil? and !publications.empty? %>
      <% for publication in publications %>
        <div class="publications item">
          <header>
            <h3>
              <em><%= publication['publisher'] %></em>,
              <a href="<%= publication['website'] %>"><%= publication['name'] %></a>
            </h3>
            <div class="tenure">
              <div class="dates">
                <span class="start-date"><%= format_date_my(publication['releaseDate']) %></span>
              </div>
            </div>
          </header>
          <% if !publication['keywords'].nil? and !publication['keywords'].empty? %>
            <div class="keywords">
              <% for keyword in publication['keywords'] %>
                <span class="keyword"><%= keyword %></span>
              <% end %>
            </div>
          <% end %>

          <% if !publication['summary'].nil? and !publication['summary'].empty? %>
            <p class="summary"><%= publication['summary'] %></p>
          <% end %>

          <% if !publication['highlights'].nil? and !publication['highlights'].empty? %>
            <ul class="highlights">
              <% for highlight in publication['highlights'] %>
                <li class="highlight"><%= highlight %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>