<nav><a href="<%= change_cv_language_path %>"><%= R18n.t[:other_language] %></a></nav>
<main>

  <%= erb :'cv/_basics' %>
  <%= erb :'cv/_education' %>
  <%= erb :'cv/_experience' %>
  <%= erb :'cv/_publications' %>
  <%= erb :'cv/_projects' %>

</main>