<main>

  <%= erb :'cv/_basics' %>
  <%= erb :'cv/_education' %>
  <%= erb :'cv/_work' %>
  <%= erb :'cv/_volunteer' %>
  <%= erb :'cv/_publications' %>
  <%= erb :'cv/_projects' %>
  <%= erb :'cv/_others' %>

</main>